<template>
  <div class="text-center my-4">
    <h1>Dashboard</h1>    
  </div>
</template>

<script>
// @ is an alias to /src
import Test from './Test';

export default {
  name: 'dashboard',
  components: {
    Test,
  },
};
</script>
