<template>
    <div class="top-bar d-flex pln-background-orange justify-content-between align-items-center">
        <div></div>
        <div><img src="/Plannexo-White.png" width="120" alt=""></div>
        <div class="mr-4 text-uppercase"><i class="fas fa-sign-out-alt"></i> {{ $t("header.sair") }}</div>
    </div>  
</template>

<script>
    export default {
        mounted() {            
        }
    }
</script>

<style lang="scss">    
    
    .pln-background-orange {
        z-index: 1001;
        //background-color: $orange;
        background-color: #f95338;
    }

    .top-bar{
        color: white;
        padding-left: 0px;
        border-radius: 0px !important;
        height: 45px;    
    }
</style>