<template>
  <div>      
      <Slide disableEsc @closeMenu="handleCloseMenu()" :isOpen="isOpen" >
    
        <template v-for="list in menuList">
          <a @click="hideBurgerItem(list.id, $event)" :key="list.id" href="#"> 
            <span><i :class="list.icon" class="orange mr-2"></i> {{ $t(list.name) }}</span>        
          </a>
          <div v-show="false" :key="list.id+'d'" :id="list.id">
            <hr>
            <ul>
                
                <li v-for="(li, keyLi) in list.items" :key="keyLi"><a href="#" @click="goToRoute(li.link)">{{ $t(li.name) }}</a></li>                
            </ul>
          </div>
        </template>

      </Slide>      
  </div>
</template>

<script>

import router from '../router';

import { Slide } from 'vue-burger-menu'  // import the CSS transitions you wish to use, in this case we are using `Slide`
//import { test } from 'menu'
export default {

    components: {
        Slide // Register your component
    },
    data: () => {
        return {
            langs: [
              {lang: 'pt-br', text: 'Português'}, 
              {lang: 'es', text: 'Espanhol'},
              {lang: 'en', text: 'Inglês'}
            ],
            menuList: [
              {                
                name: 'menu.relatorio', 
                id: 'relatorios',
                icon: 'fas fa-chart-bar',
                items: [
                  {name: 'menu.dashboard', link: 'dashboard'}, 
                  {name: 'menu.resumo', link: 'resume'}
                ]
              },
              {
                name: 'menu.planejamento',
                id: 'planejamento',
                icon: 'fas fa-pencil-alt',
                items: [
                  {name: 'menu.sku', link: '#'}, 
                  {name: 'menu.suggCompras', link: '#'}, 
                  {name: 'menu.capaPedido', link: '#'}, 
                  {name: 'menu.histAprov', link: '#'}, 
                  {name: 'menu.ordemCompra', link: '#'}
                ]
                },
              {
                name: 'menu.parametros',
                id: 'parametros',
                icon: 'fas fa-solar-panel',
                items: [
                  {name: 'menu.politica', link: '#'}, 
                  {name: 'menu.calendario', link: '#'}
                ]
              },
            ],
            isOpen: false,
        }
    },
    methods: {
        handleCloseMenu() {
            this.isOpen = false;
        },
        hideBurgerItem(el, event){
          event.stopPropagation();
          if(document.querySelector(`#${el}`).style.display == 'none'){
              document.querySelector(`#${el}`).style.display = 'block';
          }else{
              document.querySelector(`#${el}`).style.display = 'none';
          }
      },
      goToRoute(link) {
        router.push({ name: link, params: { title: '123' } });
      },
    },
    mounted() {
      //$('.bm-burger-button').append(`<span class="span-bm-burger-menu">${this.$t('menu.politica')}</span>`)      
    },
}
</script>

<style lang="scss">


.bm-burger-button {
      position: fixed;
      width: 17px;
      height: 15px;
      left: 23px;
      top: 15px;
      cursor: pointer;
    }

  .bm-burger-button:after{
    content: 'MENU';
    color: white;    
    position: fixed;
    top: 12px;
    left: 45px;
  }
  
  /*.span-bm-burger-menu{
    
    color: white;    
    position: fixed;
    top: 12px;
    left: 45px;
  }*/

    .bm-burger-bars {
      background-color: white;
    }
    .line-style {
      position: absolute;
      height: 5%;
      left: 0;
      right: 0;
    }
    .cross-style {
      position: absolute;
      top: 12px;
      right: 2px;
      cursor: pointer;
    }
    .bm-cross {
      background: #bdc3c7;
    }
    .bm-cross-button {
      height: 24px;
      width: 24px;
    }
    .bm-menu {
      height: 100%; 
      width: 0; 
      position: fixed; 
      z-index: 1000; 
      top: 0;
      left: 0;
      background-color: #fff; 
      overflow-x: hidden; /* Disable horizontal scroll */
      padding-top: 50px; /* Place content 60px from the top */
      margin-top: 45px;
      transition: 0.5s; /*0.5 second transition effect to slide in the sidenav*/
    }

    .bm-overlay:before {
        content: '';
        top:0;
        left:0;
        right:0;
        bottom:0;
        display: block;
        position: absolute;
        background: rgba(0, 0, 0, 0.3);
        z-index: 999;
        
    }
    
    .bm-item-list {
      color: black;
      margin-left: 10%;
      font-size: 17px;
    }
    
    .bm-item-list hr {
      margin: 0;
    }

    .bm-item-list a, .bm-item-list ul {
      padding: 0 !important;
    }
    .bm-item-list ul {
      list-style: none;
      margin-left: 35px;
      text-align: left;
    }

    .bm-item-list ul a {
        color: #047bf8;
        text-decoration: none;
        background-color: transparent;
        transition: all .5s ease;
    }
       
    .bm-item-list ul a:hover {
        margin-left: 5px;
        
    }

    .bm-item-list > * {
      display: flex;
      text-decoration: none;
      padding: 0.7em;
    }
    .bm-item-list > * > span {
      margin-left: 10px;
      font-weight: 300;
      color: black;
      transition: all .5s ease;
    }

    .bm-item-list > * > span:hover {
      margin-left: 5px;
      
    }

    #menu_text {
      cursor: pointer;
    }

    .orange{
      color: #f95338;
    }


</style>
