<template>
  <div>
    <Header />

    <Menu />
    
    <div class="container-fluid">                
      <transition name="fade" mode="out-in">
        <router-view/>
      </transition>
      
    </div>
  </div>
</template>

<script>
import Menu from './components/Menu';
import Header from './components/Header';

export default {
  components: {
    Menu,
    Header
  }
}
</script>

<style lang="scss">
.fade-enter-active,
.fade-leave-active {
  transition-duration: 0.1s;
  transition-property: opacity;
  transition-timing-function: ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0
}
</style>
